body {
  text-align: center;
  color:rgba(72, 69, 69, 0.903);
  
}

.Logo {
  width: 10rem;
  height: auto;
  border-radius: 50%; 
  position: relative;
  left: 2vw;
  top: 5.5vh;
}

.Logo > img {
  width: 75%;
  object-fit: cover;
}

.wish-button {
  width: 36px;
  height:36px;
}

.wish-button:hover   {
  width: 38px;
  height:38px;
  cursor: pointer;
}

.wish-list:hover {
  width: 27px;
  height:27px;
  cursor: pointer;
}

button {
  background-color: white;
  border: none;
}

.search-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: rgba(72, 69, 69, 0.903);
  height:10vh;
  width: 30vw; 
}

.search-container > input {
  border-radius: 10px;
  border-color: white;
  height:2.5vh; 
  outline-color: transparent;
}

.search-container > input:focus {
  outline-color: #ebeaeb;
  outline-style: groove;
  box-shadow:  0 0 2px 0 #8f6389;
}

.search-results > p {
  margin:0;
  padding-bottom: 5px;
}
 
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh;
  margin:0;
  padding: 5vh;
  box-shadow:  0 0 15px 0 #ebeaeb;
}

 ul {
  list-style-type: none;
 }

 .product-box {
  width: 100vw;
  display: flex;
  justify-content: space-around; 
 }

 .wishlist {
  width: 15vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-basis: 18vw;  
  z-index: 1;
  box-shadow:  0 0 6px 0 #ebeaeb;
  border-radius: 5px;
  margin: 0.5vw;
  position: absolute;
  left: 81vw;
  top: 15vh; 
  padding: 2vh;
  background-color: #f5f2f5;
 }

 .wishlist > h5 {
  position: relative;
  left: 0.7vw;
 }

 .catalog {
  display: flex; 
  justify-content: flex-start; 
  position: relative;
  top: 5vh; 
  flex-basis: 80%;  
  flex-wrap: wrap;
  align-items: center;
  width: 72vw;
  padding: 0;
  margin: 0;  
  padding: 5vh;
  
 }


 @media only screen and (max-width: 1060px) {
  .search-container {
    width:50vw;
  }
}

@media only screen and (max-width: 468px) {   

  .search-container {
    width:60vw;
  }
  .search-results > p {
    display: none;
  }

  .Logo {   
    left: 0vw;
    top: 2.8vh;
  }

  .Logo > img {
    width: 100%;
  }

  .Nav {
    justify-content: space-between;
  }

  .wishlist {
    left: 15vw;
    width: 60vw;
  }
}